<div class="row">
    <div class="col-sm-12">
        <h3>
            {{ actor.name }}
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <img class="img-responsive" src="{{ config.images.base_url }}/{{ config.images.profile_sizes.2 }}/{{ actor.profile_path }}"> <br />
        <strong>Actor name: </strong>{{ actor.name }}<br />
        <strong>Birthday: </strong>{{ actor.birthday }}<br />
        <strong>Place of birth: </strong>{{ actor.place_of_birth }}<br />
    </div>
    <div class="col-sm-9">
        <h4>
            Biography
        </h4>
        <div class="biography" >
            {{ actor.biography }}
        </div>
        <br />
        <h4>
            Movies
        </h4>
        <div class="movies">
            <table class="table table-hover">
                <tr ng-repeat="movie in movies | orderBy: '-release_date'">
                    <td>
                        <a ng-click="movieClick( movie.id )" href="#/movie">
                            <img src="{{ config.images.base_url }}/{{ config.images.logo_sizes.1 }}/{{ movie.poster_path }}"> 
                        </a>
                    </td>
                    <td>
                        <strong><a ng-click="movieClick( movie.id )" href="#/movie">{{ movie.title }}</a></strong><br />
                        Character: {{ movie.character }}<br />
                        Date: {{ movie.release_date }}
                        <!--<span>
                            bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla.
                            bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla .....
                        </span>-->
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
