<br />
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="input-lg">
            <input ng-model="search"  type="text" class="form-control" placeholder="Search for an actor..." ng-keyup="searchAction()">
        </div>
    </div>
</div>
<div class="row">
    <br />
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <table class="table table-hover">
            <tr ng-repeat="actor in actors">
                <td>
                    <a ng-click="actorClick( actor.id )" href="#/actor">
                        <img class="img-circle" src="{{ config.images.base_url }}/{{ config.images.profile_sizes.0 }}/{{ actor.profile_path }}">
                    </a>
                </td>
                <td>
                    <a ng-click="actorClick( actor.id )" href="#/actor">{{ actor.name }}</a><br />
                    <strong>Birthday:</strong> {{ actor.detail.birthday }}<br />
                    <strong>Place of birth:</strong> {{ actor.detail.place_of_birth }}<br />
                    <strong>Popularity:</strong> {{ actor.detail.popularity | number : 1 }}<br />
                </td>
                <!--<td>
                    {{ actor.detail.biography | limitTo : 250 }} . . .
                </td>-->
                <td>
                    <strong>Movie list:</strong>
                    <ul class="defaultList" ng-repeat="movie in actor.known_for">
                        <li>
                            <a ng-click="movieClick( movie.id )" href="#/movie">
                                {{ movie.title }}
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>