<div class="row">
    <div class="col-sm-12">
        <h3>
            Movie name
        </h3>
    </div>
    
</div>
<div class="row">
    <div class="col-sm-9">
        <h4>
            Overview
        </h4>
        <span>
            bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla 
            bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla
            bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla
            bla bla blabla bla blabla bla bbla bla blabla bla blabla bla blabla bla blabla bla
            bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla.
            bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla 
            bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla
            bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla
            bla bla blabla bla blabla bla bbla bla blabla bla blabla bla blabla bla blabla bla
            bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla.
        </span>
    </div>
    <div class="col-sm-3">
        image
    </div>
</div>
<div class="row">
    <br />
</div>
<div class="row">
    <div class="col-sm-9">
        <table class="table table-hover">
            <tr>
                <td>
                    2008
                </td>
                <td>
                    <a href="#/actor">Image</a>
                </td>
                <td>
                    <strong><a href="#/actor">Movie title</a></strong><br />
                    <span>
                        bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla.
                        bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla .....
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-3">
        <strong>Name actor: </strong>Juan Leon <br />
        <strong>Birthday actor: </strong>The 23th, October 1978<br />
        <strong>Place of birth: </strong>Popayan, Colombia<br />
    </div>
</div>
